<!DOCTYPE html>
<html lang="en">
<head>
    {% raw %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W7VVLM93W1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-W7VVLM93W1');
</script>
{% endraw %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debangshu's Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet"> <!-- Font CLASSY #librebaskerville-->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet"><!-- Font AVERAGE #cinzel-->
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap" rel="stylesheet"> <!-- Font OLD MONEY #EB Garamond-->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet"><!-- Font OLD MONEY #Cormorant Garamond-->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet"><!--for numbers -->
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet"><!---For "DETERMINANT"-->
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">






</head>
<body>
    <a href="/surprise"><img src="/static/images/crown_bg0.png" style="position: absolute;top: 4.5%;left: 3%;width:95px;height: auto;mix-blend-mode: multiply;"></a>
    <img src="/static/images/makers sitter.png" style="position: absolute;top:5%;left: 88%;width: 150px;height: auto;mix-blend-mode: darken;">
    <a href="https://www.instagram.com/i_am_deb_anxu__/ " target="_blank" rel="noopener noreferrer"><img src="/static/images/c2.jpg" alt="" style="position: absolute;top: 1.5%;left:91.7%;width:55px;height: auto;border-radius: 100%;"></a>
    <h3 style="position: absolute;top: 12%;left: 91.6%;font-family: Rajdhani,sans-serif;font-size: 100%;font-weight: 200;">CREATOR</h3>
    <img src="/static/images/last but first.png" alt="" style="position:absolute;top:20.5%;left:0.1%;width:290px;height: auto;opacity: 0.9;mix-blend-mode: darken;">
    <img src="/static/images/final.png" alt="" style="position: absolute;top: 23.5%;left: 80.35%;width: 200px;height:auto;mix-blend-mode:darken;">
    <h1 class="flashy-underline" style="font-family:'Cinzel',sans-serif;position: absolute;left:13.5%;top:0.001%;font-size: 300%;color: #343136;">MATRIX Reconnaissance Parameter</h1>
    <h1 style="font-family: 'Cormorant Garamond',sans-serif;position:absolute;top: 16%;left: 25.5%;font-size: 110%;">A powerful, dynamic and intuitive Gizmo for funtions on Matrices and Determinants....</h1>
    <div>
    <form method="post">
        <h3 style="font-family: 'Cinzel',sans-serif;font-size: 200%;top: 25.5%;left: 2.2%;position:absolute;">Select Order :</h3>
        <label for="order"></label>
        <select class="selectx" style="border-radius: 0.7cm;height: 1cm;width: 2.5cm;position:absolute;top: 42%;left: 6.5%;font-size: 110%;"  name="order" onchange="this.form.submit()" required>
            <option disabled selected>Choose</option>
            <option value="2X2">&nbsp;&nbsp;&nbsp;&nbsp;2X2</option>
            <option value="2X3">&nbsp;&nbsp;&nbsp;&nbsp;2X3</option>
            <option value="2X4">&nbsp;&nbsp;&nbsp;&nbsp;2X4</option>
            <option value="2X5">&nbsp;&nbsp;&nbsp;&nbsp;2X5</option>
            <option value="3X2">&nbsp;&nbsp;&nbsp;&nbsp;3X2</option>
            <option value="3X3">&nbsp;&nbsp;&nbsp;&nbsp;3X3</option>
            <option value="3X4">&nbsp;&nbsp;&nbsp;&nbsp;3X4</option>
            <option value="3X5">&nbsp;&nbsp;&nbsp;&nbsp;3X5</option>
            <option value="4X2">&nbsp;&nbsp;&nbsp;&nbsp;4X2</option>
            <option value="4X3">&nbsp;&nbsp;&nbsp;&nbsp;4X3</option>
            <option value="4X4">&nbsp;&nbsp;&nbsp;&nbsp;4X4</option>
            <option value="4X5">&nbsp;&nbsp;&nbsp;&nbsp;4X5</option>
            <option value="5X2">&nbsp;&nbsp;&nbsp;&nbsp;5X2</option>
            <option value="5X3">&nbsp;&nbsp;&nbsp;&nbsp;5X3</option>
            <option value="5X4">&nbsp;&nbsp;&nbsp;&nbsp;5X4</option>
            <option value="5X5">&nbsp;&nbsp;&nbsp;&nbsp;5X5</option>          
        </select>
    </form>
        <h6 style="font-family: 'Cinzel',sans-serif;font-size: 115%;top: 44.7%;left: 3.1%;position: absolute;">Dimensions:{{order}} </h6>
        <!-- {% if order %} -->
        <!-- <h6 style="font-family:'Libre Baskerville',sans-serif;font-size: 120%;top: 40.5%;left: 13.1%;position: fixed;font-weight: bolder;">{{order}}</h6> -->
        <!-- {% endif %} -->
    </div>
    <form method="POST">
    <div class="container matrix-style-border" style="position: absolute;top: 19%;left :25%;height:450px;grid-template-columns: repeat({{b}}, 0.15fr);">
        <div class="corner top-right"></div>
        <div class="corner bottom-left"></div>
        <div class="background"></div><!-- Moved here -->
        {% for i in total_items %} 
        <div class="box">
          <input class="cadet-input" type="text" name="item_{{i}}" placeholder="{{i}}" required oninvalid="this.setCustomValidity('Fill this or you GAY🫵')"oninput="this.setCustomValidity('')">
        </div>
        {% endfor %}
    </div>
        <h3 style="font-family: 'Cinzel',sans-serif;font-size: 200%;top: 28%;left: 81%;position:absolute;">Operation :</h3>
        <div class="custom-select-wrapper " style="border-radius: 0.7cm;height: 1cm;width:4cm;position:absolute;top: 43%;left: 83%;font-size: 110%;font-family: sans-serif;">
          <div class="custom-select" id="custom-select">
            <div class="select-trigger">Select Render</div>
            <div class="custom-options">
              <span data-value="Trans">Transpose</span>
              <span data-value="Inv">Inverse</span>
              <span data-value="Scal">Scalar Amplify</span>
              <span data-value="Multi">Multiplication</span>
              <span data-value="Add">Addition</span>
              <span data-value="Subtract">Subtraction</span>
              <span data-value="Det">Determinant</span>
              <span data-value="Cof">Co-Factor</span>
              <span data-value="Adj">Adjoint</span>
              <span data-value="Some" style="padding: 9.9px;">Something else..</span>
            </div>
          </div>
          <input type="hidden" name="operation" id="order-input" required>
        </div>
      <button class="submit-button" type="submit" style="position: absolute;top: 130%;left: 43%;"><span>Submit</span></button>
      </form> 
    </form>
    {% if operation %}
    <img src="/static/images/textornamentleft.png" alt="" style="position: absolute;top: 168.5%;left: 13%;width: 295px;height: auto;transform:rotate(4deg);mix-blend-mode: darken;">
    <img src="/static/images/textornamentright.png" alt="" style="position: absolute;top: 168%;left: 61.5%;width: 295px;height: auto;transform:rotate(-4deg);mix-blend-mode: darken;">
    <img src="/static/images/main.jpg" alt="" style="position: absolute;top: 156%;left: 34.4%;width: 375px;height: auto;mix-blend-mode: darken;">
    <img src="/static/images/main2.jpg" alt="" style="position: absolute;top: 186%;left: 37.7%;width: 280px;height: auto;mix-blend-mode: darken;">
    <h2 class="curly-bundle" style="position:absolute;top:170%; left: 37.5%;font-family: 'EB Garamond',sans-serif;font-size: 250%;"> Aggregate Result</h2>
    {% if listkicker %}
        {% if invalider %}
          <img src="/static/images/invalid.png" alt="" style="position: absolute;top: 232%;left: 43.5%;width: 150px;height: auto;mix-blend-mode: multiply;">
          <h3 style="position: absolute;top: 247.5%;left: 45.3%;font-family:Rajdhani,sans-serif;font-size: 200%;">{{matrixoutput}}</h3> 
        {% else %}
          <div class="container matrix-style-border" style="position: absolute;top: 220%;left :24.9%;height:450px;grid-template-columns: repeat({{b}}, 0.15fr);">
          <div class="corner top-right"></div>
          <div class="corner bottom-left"></div>
          <div class="background"></div><!-- Moved here -->
          {% for i in finaloutput %} 
          <div class="box">
            <div class="cadet-input">{{ i }}</div>
          </div>
          {% endfor %}
          <img src="/static/images/signoff.png" alt="" style="position:absolute;top:35.5%;left:37.85%;width:150px;height: auto;mix-blend-mode: darken;opacity: 0.15;">
        {% endif %}
    {% endif %}
    {% if zkicker %}
      <img src="/static/images/topofficial.png" alt="" style="position: absolute;top: 215%;left: 36.7%;width: 300px;height: auto;mix-blend-mode: darken;">
      <img src="/static/images/detbottom.png" alt="" style="position: absolute;top: 252%;left: 36.3%;width: 300px;height: auto;mix-blend-mode: darken;opacity: 0.8;">
      <h3 class="gradient-text" style="position: absolute;top: 220%;left: 42%;font-size:180%;font-family: 'Great Vibes', cursive;">Determinant</h3>
      <div class="output-box" style="position: absolute;top: 242%;left: 39.5%;">
        <h3>{{ finaloutput }}</h3>
      </div>
    {%endif %}
    {% if development==1 %}
      <img src="/static/images/underdevelopment.jpg" alt="" style="position: absolute;top: 208%;left: 28%;width:550px;height: auto;mix-blend-mode:multiply ;">
      <h3 style="position: absolute;top: 285%;left: 38%;font-family:Rajdhani,sans-serif;font-size: 200%;">{{matrixoutput}}</h3>   
    {% endif %}
    {% if development==2 %}
      <img src="/static/images/some.jpg" alt="" style="position: absolute;top: 210%;left: 26%;width:590px;height: auto;mix-blend-mode:multiply ;">
      <h3 style="position: absolute;top: 280%;left: 38%;font-family:Rajdhani,sans-serif;font-size: 200%;">{{matrixoutput}}</h3>  
      <h3 style="position: absolute;top: 294%;left: 10%;font-family: 'Libre Baskerville',sans-serif,sans-serif;font-size: 150%;">🛒 Request your funtion/purpose🔧 : </h3>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=abrawlstars90@gmail.com&su=Something else for Matrix Gizmo&body=I want more expansions and functions in website! " target="_blank">
          <img src="/static/images/gmail.png" alt="" style="position: absolute;top:306%;left: 18%;width: 170px;height: auto;mix-blend-mode: multiply;"></a>
        <a href="https://wa.me/917003792021?text=Hello%20there!%20I%20would%20like%20to%20make%20some%20changes.%20They%20are:" target="_blank">
          <img src="/static/images/wp2.svg" alt="" style="position: absolute;top:308.4%;left: 46%;width:90px;height: auto;opacity: 0.98;">
          <img src="/static/images/wp1.png" alt="" style="position: absolute;top:318%;left: 43.3%;width:165px;height: auto;"></a>
        <a href="https://twitter.com/messages/compose?recipient_id=1580985188712005639" target="_blank">
          <img src="/static/images/twitter-logo-2.svg" alt="" style="position: absolute;top:313.5%;left: 72%; width: 75px;height: auto;border-radius: 30%;"></a>
        <a href="https://www.instagram.com/i_am_deb_anxu__/ " target="_blank" rel="noopener noreferrer">
          <img src="/static/images/iglog.svg" alt="" style="position: absolute;top:331%;left: 21.5%; width:70px;height: auto;opacity: 0.95;">
          <img src="/static/images/instagram-text.svg" alt="" style="position: absolute;top:334.25%;left: 19%; width:135px;height: auto;"></a>
        <a href="https://m.me/61562818050169"target="_blank">
          <img src="/static/images/facebook-5.svg" alt="" style="position: absolute;top:334.6%;left: 44%;width: 140px;height: auto;"></a>
        <a href="https://www.reddit.com/message/compose/?to=The_honoured_one___&subject=Customised Experience&message=Hi%20there!%20I%20want%20to%20have%20the%20following%20usecase%20in%20the%20website:" target="_blank">
          <img src="/static/images/reddit-1.svg" alt="" style="position: absolute;top:333.5%;left: 69%;width: 145px;height: auto;"></a>
        <div class="gmail-text">select any platform to send request</div>
    {% endif %}
    {% else %}
    <div class="gmail-text" style="position: absolute;top: 222%;left: 44%;font-size: 170%;filter: blur(0.6px);font-weight: lighter;">Keep Scrolling</div>
    {% endif %}
     <h2 style="position: absolute;top:350%;left: 15%;font-family: Allura;font-size: 200%;">Help us improve by leaving a line of Rewiew-</h2>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=abrawlstars90@gmail.com&su=Review for Webpage&body= Hey! I think these improvements can be made:  " style="color: black;">
     <h2 style="position: absolute;top: 355%;left:20%;font-family: Allura;font-size: 250%;font-weight: bold;">Rate us</h2>
    <div class="stars" id="star-container" style="position: absolute;top:366.5%;left:17.5%">
  <span class="star" data-value="1">★</span>
  <span class="star" data-value="2">★</span>
  <span class="star" data-value="3">★</span>
  <span class="star" data-value="4">★</span>
  <span class="star" data-value="5">★</span>
     </div></a>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=abrawlstars90@gmail.com&su=Review for Webpage&body= Hey! I think these improvements can be made:  " style="color: black;">
     <input type="text" class="reviewtextx"> 
      <img src="/static/images/reviewbox design .png" alt="" style="position: absolute;top: 368%;left: 50%;width: 170px;height: auto;mix-blend-mode: multiply;opacity: 0.35;">
     <input type="text" id="smartInput" class="reviewtext" > 
     <h2 style="position: absolute;top: 355%;left:50%;font-family: Allura;font-size: 250%;font-weight: bold;">Suggestions</h2>
    </a>
    <img src="/static/images/endpointofnoreturn.png" alt="" style="position:absolute;top:390%;left :44%;width: 180px;height: auto;mix-blend-mode: darken;">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>   
</body>
</html>







